/target
/data
/logs
/releases
/crates/zeus-token-list/ethereum.zip
/crates/zeus-token-list/base.zip
/crates/zeus-token-list/optimism.zip
/crates/zeus-token-list/arbitrum.zip
/crates/zeus-token-list/binance.zip
scc.exe